* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: black;
  }

  li {
    list-style-type: none;
    text-decoration: none;
  }
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 100%;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1fr 0.1fr;
  grid-template-areas:
    "header header header"
    "main main aside"
    "article1 article2 article3"
    "attribution attribution attribution";
  gap: 1.5rem;
}

header {
  width: 100%;
  grid-area: header;
  background-color: white;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: auto;
      margin-left: 0px;
      cursor: pointer;
    }

    .burger {
      display: none;
      cursor: pointer;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      padding: 1em;
      padding-top: 1.2em;
      padding-left: 0px;
      padding-right: 0px;
      li {
        margin-left: 45px;
        a {
          font-size: 14px;
        }
        a:hover {
          color: rgb(252, 97, 97);
        }
      }
    }
  }
}

#featured-article {
  width: 100%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .__featured-article-image-holder {
    width: 100%;
    margin-bottom: 20px;
    .__featured-article-image {
      width: 100%;
    }
    .__featured-article-image-mobile {
      width: 100%;
      display: none;
    }
  }

  .__featured-article-information {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .__featured-article_title-holder {
      width: 50%;
      .__featured-article_title {
        width: 80%;
        color: rgb(27, 27, 48);
        font-size: 52px;
        line-height: 48px;
      }
    }
    .__featured-article-more {
      width: 50%;
      .__featured-article-desc {
        color: rgba(27, 27, 48, 0.712);
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 25px;
      }
      .__featured-article-read-more-btn {
        color: rgb(27, 27, 48);
        border: none;
        padding: 12px 28px;
        font-size: 14px;
        font-weight: bolder;
        letter-spacing: 3px;
        background: rgb(252, 97, 97);
        cursor: pointer;
      }
      .__featured-article-read-more-btn:hover {
        color: rgba(255, 255, 255, 0.932);
        background: rgb(27, 27, 48);
      }
    }
  }
}

#new-articles-container {
  width: 100%;
  grid-area: aside;
  display: flex;
  flex-direction: column;
  background: rgb(27, 27, 48);
  padding: 25px;
  .new-articles-container-tag {
    font-size: 32px;
    color: rgb(255, 196, 87);
  }
  .new-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    .new-article-title {
      color: rgba(255, 255, 255, 0.932);
      margin-bottom: 8px;
      cursor: pointer;
    }
    .new-article-title:hover {
      color: rgb(255, 196, 87);
    }

    .new-article-desc {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.685);
      line-height: 21px;
    }
  }

  .center {
    border-top: 1px solid rgba(255, 255, 255, 0.685);
    border-bottom: 1px solid rgba(255, 255, 255, 0.685);
  }
}

#article1 {
  grid-area: article1;
}

#article2 {
  grid-area: article2;
}

#article3 {
  grid-area: article3;
}

.article {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: center;
  .article-image-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    .article-image {
      height: 115px;
    }
  }
  .article-information-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3px;
    height: 100%;
    width: 100%;
    .article-count {
      font-size: 28px;
      font-weight: bold;
      color: rgb(252, 97, 97);
      margin-bottom: 8px;
    }
    .article-title {
      font-weight: bolder;
      margin-bottom: 8px;
      cursor: pointer;
    }
    .article-title:hover {
      color: rgb(252, 97, 97);
    }
    .article-desc {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  grid-area: attribution;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media only screen and (max-width: 550px) {
  body {
    overflow-x: hidden;
  }

  .container {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.5fr 0.5fr 0.5fr 0.1fr;
    grid-template-areas:
      "header"
      "main"
      "aside"
      "article1"
      "article2"
      "article3"
      "attribution";
  }

  header {
    nav {
      .burger {
        display: flex;
        z-index: 1;
      }

      .nav-links {
        position: absolute;
        right: 0px;
        width: 70%;
        height: 100vh;
        top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: white;
        padding-top: 18vh;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        li {
          margin: 10px;
          margin-left: 20px;
          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  #featured-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .__featured-article-image-holder {
      .__featured-article-image {
        width: 100%;
        display: none;
      }
      .__featured-article-image-mobile {
        width: 100%;
        display: block;
      }
    }

    .__featured-article-information {
      .__featured-article_title-holder {
        width: 100%;
        margin-bottom: 25px;
        .__featured-article_title {
          width: 100%;
        }
      }
      .__featured-article-more {
        width: 100%;
        .__featured-article-desc {
          font-size: 18px;
        }
      }
    }

    .__featured-article-information {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #new-articles-container {
    margin-bottom: 25px;
    .new-articles-container-tag {
      margin-bottom: 25px;
    }
    .new-article {
      height: 100%;
      .new-article-title {
        font-size: 24px;
      }

      .new-article-desc {
        font-size: 18px;
        line-height: 28px;
      }
    }

    .center {
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .article {
    margin: 0px;
    .article-information-holder {
      padding: 6px;
      .article-count {
        font-size: 32px;
        font-weight: bold;
        color: rgb(252, 97, 97);
        margin-bottom: 8px;
      }
      .article-title {
        font-size: 22px;
        letter-spacing: -1px;
        font-weight: bolder;
        margin-bottom: 8px;
        cursor: pointer;
      }
      .article-title:hover {
        color: rgb(252, 97, 97);
      }
      .article-desc {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}

#nav-active {
  transform: translateX(0%);
}
